body {
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.left {
    width: 40vw;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url(img/plant.jpg);
    background-size: cover;
    color: white;
}

.left div {
    background-color: rgb(37, 36, 33);
}

.left p {
    position: absolute;
    bottom: 0px;
}


.right {
    display: flex;
    align-items: start;
    flex-direction: column;
    
}

.right .info {
    background-color: aqua;
    padding-top: 20vh;
    padding-left: 3vw;
    padding-right: 15vw;
    padding-bottom: 5vh;

}


.right .form {
    background-color: blanchedalmond;
    padding: 3vw;
    width: 100%;
}

.right .submit{
    background-color: coral;
}

.right .account{
    background-color: cornflowerblue;
}